.app {
  background-color: #212429;
  color: #c6d4df;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.app_page_error {
  background-image: none;
  background-color: #dfd6c8;
}
