//noinspection CssInvalidAtRule
@import-normalize;

html {
  --media-phone-portrait: 'screen and (max-width: 479px)';
  --media-phone-landscape: 'screen and (min-width: 480px) and (max-width: 767px)';
  --media-tablet-portrait: 'screen and (min-width: 768px) and (max-width: 1023px)';
  --media-tablet-landscape: 'screen and (min-width: 1024px) and (max-width: 1279px)';
  --media-desktop-base: 'screen and (min-width: 1280px) and (max-width: 1439px)';
  --media-desktop-big: 'screen and (min-width: 1440px) and (max-width: 1599px)';
  --media-desktop-large: 'screen and (min-width: 1600px) and (max-width: 1979px)';
  --media-desktop-huge: 'screen and (min-width: 1980px) and (max-width: 2559px)';
  --media-desktop-imac: 'screen and (min-width: 2560px)';

  --media-print: 'print';

  --media-retina: 'only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx)';
}

* {
  text-size-adjust: none;
  overflow-scrolling: touch;
  appearance: none;
}

body, html, #root, .app {
  width: 100%;
  height: 100vh;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;

  font-size: 16px;
  line-height: 1.4;

  @media screen and (max-width: 767px) {
    font-size: 14px;
    line-height: 1.4;
  }
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin: .5em 0 .25em 0;
  font-weight: normal;
}

h1, .h1 {
  font-size: 200%;
  line-height: 1.4;
}

h2, .h2 {
  font-size: 175%;
  line-height: 1.4;
}

h3, .h3 {
  font-size: 150%;
  line-height: 1.4;
}

h4, .h4 {
  font-size: 125%;
  line-height: 1.4;
}

h5, .h5 {
  font-size: 100%;
  line-height: 1.4;
}

h6, .h6 {
  font-size: 75%;
  line-height: 1.4;
}

table {
  display: table;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  overflow: auto;
}

td, th {
  padding: 6px 13px;
  border: 1px solid #ddd;
  text-align: left;
}

tr {
  background-color: #fff;
  border-top: 1px solid #ccc;
}

tr:nth-child(2n) {
  background-color: #f8f8f8;
}

th {
  font-weight: 700;
}

blockquote {
  margin: 0;
  margin-bottom: .85em;
  padding: 0 15px;
  color: #858585;
  border-left: 4px solid #e5e5e5;
}

figure {
  text-align: center;
}

figcaption {
  font-style: italic;
}

textarea {
  width: 100%;
  height: 200px;
  resize: none;
  margin: 1em 0;
  outline: 0;
  box-sizing: border-box;
  padding: 1em;
}

@media --media-print {
  html, body, #root, .app {
    -webkit-print-color-adjust: exact;
    overflow: auto;
    width: 100%;
    height: auto;
  }

  @page {
    size: A4 portrait;
    margin: 1em;
    -webkit-print-color-adjust: exact;
  }
}